/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 26, 2021, 12:09:09 AM
    Author     : Arafat Hossain Ar
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
* {
    box-sizing: border-box;
}
.container {
    border: 1px solid #ccc;
    height: 100%;
}
header{
    background-color: #006699;
    padding: 10px;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
header h1{
    padding: 0px;
}

nav{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}
nav a{
    display: inline-block;
    background-color:  #006699;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

nav a:hover{
    opacity: 0.7;
}

@media screen and (max-width: 600px) {
    nav{
        max-width: 1000px;
        margin: 0 auto;
        display: block;
        margin-top: 100px;
        text-align: center;
        height: 100%;

    }
    nav a{
        display: block;
        padding: 10px 20px;
        font-size: 17px;
        margin: auto;
        margin-top: 15px;
        width: 200px;
        padding: 10px;
    }

}

hr{
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #f1f1f1;
    margin-bottom: 5px;
}
h2{
    margin-bottom: 2px;
    text-align: center;
}


.form{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 16px;
}

input[type=text], input[type=number], input[type=tel] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin: 5px 0 22px 0;
    display: block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=text], input[type=number], input[type=tel] {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit button */
.btn {
    padding: 16px 20px;
    margin: 8px 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 200px;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.success{
    
    background-color: #006699;
    color: white;
}
.danger{
    background-color: #da190b;
    color: white;
    padding: 10px;
    margin: 2px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100px;
    opacity: 1;
}
.danger:hover{
    opacity: 0.7;
}
.btn:hover {
    opacity: 0.7;
}

table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    max-width: 90%;
    width: 90%;
    margin: 0 auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eee;
}
footer{
    text-align: center;
    color: black;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    /*font-size: 20px;*/
}
footer a{
    color: #006699;
    text-decoration: none;
}
footer a:hover{
    opacity: 0.7;
}
footer b{
    border-left: 1px solid #999999;
    padding-left: 5px;
}
footer a b{
    border-left: none;
}
footer b span{
    font-weight: normal;
}
@media screen and (max-width: 600px) {
    footer{
        margin-top: 50px;
    }
    footer b{
        display: block;
        margin-top: 5px;
    }
    footer a b{
        border-bottom: 1px solid #eee;
    }
}